$primario:#414E89;
$secundario:#4FAEE1;

$aceptado:#28a745;
$info:#17a2b8;
$alerta:#ffc107;
$peligro:#dc3545;
$claro:#f8f9fa;
$oscuro:#343a40;

$yanone:'Yanone Kaffeesatz', sans-serif;
$font-size:62.5%;/*1rem=10px*/
$chica:1.4rem;
$mediana:1.6rem;
$normal:1.8rem;
$grande:2rem;
$enorme:2.2rem;

$sombra: 0 0.25rem 0.5rem $primario;