section{
    grid-area: section;
    margin-bottom: 200px;
}
@media only screen and (min-width: 768px){section{grid-area: section;margin-top: 5%;}}
@media only screen and (min-width: 1200px){section{grid-area: section;margin-top: 1%;}}
.asideLeft{
    margin: 1%;
    text-align: center;
    background-color: $primario;
    border: $borde;
    border-radius: 15px;
    color: white;
}
@media only screen and (min-width: 1200px){ .asideLeft{padding: 1%;float: left;position: fixed;}}
.asideLeft h2{
    margin: 2%;
}
@media only screen and (min-width: 1200px){ .asideLeft h2{margin: 0;padding: 5%;}}
.asideLeft div ul{
    padding-inline-start: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media only screen and (min-width: 1200px){ .asideLeft div ul{flex-direction: column;align-content: space-around;flex-wrap: wrap;}}
.asideLeft div ul li{
    display: inline;
}
@media only screen and (min-width: 1200px){ .asideLeft div ul li{padding: 15%;}}
.listaArticulos{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill,minmax(100px,140px));
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}
@media only screen and (min-width: 768px){.listaArticulos{grid-template-columns: repeat(auto-fill, 150px);grid-template-rows: repeat(auto-fill,minmax(150px,210px));}}
@media only screen and (min-width: 1200px){.listaArticulos{grid-template-columns: repeat(auto-fill, 215px);grid-template-rows: repeat(auto-fill,minmax(215px,270px));margin-left: 10%;}}

.article{
    border: 2px solid $primario;
    border-radius: 10px;
    text-align: center;
    font-size: $mediana;
    box-shadow: $sombra;
    transition: 0.3s;
}
.article > a{
    background-color: lightgrey;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.article img{
    max-width: 80px;
    max-height: 80px;
}
@media only screen and (min-width: 768px){.article img{max-width: 130px;max-height: 130px;}}
@media only screen and (min-width: 1200px){.article img{max-width: 200px;max-height: 200px;}}
.filtros{
    color: $primario;
}
@media only screen and (min-width: 1200px){.filtros{margin-left: 15%;}}
#aceptar{
    background-color: white;
    color: $primario;
    border: 2px solid $primario;
    border-radius: 10px;
    padding: 3px;
    font-weight: 600 ;
}
#aceptar:hover{
    border-color: $secundario;
    color: $secundario;
    padding: 1px;
    transition: 1s;
}
#precio{display: inline-block;}
.numeros{
    width: 80px;
    border: 2px solid $primario;
    border-radius: 10px;
    padding: 3px;
}
.numeros:focus{
    outline: none;
    border-color: $secundario;
    color: $secundario;
    border-width: 3px;
    padding: 0px;
    transition: 1s;
}
.desplegable{
    border: 2px solid $primario;
    border-radius: 10px;
    padding: 3px;
    color: $primario;
    font-weight: 600;
}
.desplegable:focus{
    outline: none;
    border-color: $secundario;
    color: $secundario;
    border-width: 3px;
    padding: 0px;
    transition: 1s;
}
.paginacion{max-width: 90%;text-align: center;margin: 2%;}
.itemPagina{
    display: inline;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: $primario;
    font-weight: 700;
    font-variant: small-caps;
    box-shadow: $sombra;
    padding: 5px;
    margin-right: 2px;
}
.itemPagina:hover{border-color: $secundario ;transition: 1s;}

.contacto{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 10px;
    color: white;
}
.contacto hr{
    display: none;
}
.contacto .redes{
    background-color: $primario;
    border: $borde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1%;
}
@media only screen and (min-width:768px){.contacto .redes{font-size: $enorme;}}
.contacto .mail{
    background-color: $primario;
    border: $borde;
    border-radius: 10px;
    padding: 10% 2%;
}
@media only screen and (min-width:768px){.contacto .mail{padding: 5%;}}
.datos{
    margin: 5px;
}
.datos:focus{
    outline: none;
    border-color: $secundario;
    color: $secundario;
    border-width: 3px;
    padding: 2px;
    transition: 1s;
}
#desplegable{
    border: $borde;
    border-radius: 15px;
}
#desplegable:focus{
    padding: 2px;
    transition: 1s;
    outline: none;
}

textarea{
    border: $borde;
    border-radius: 15px;
    resize: none;
    max-width: 300px;
}
textarea:focus{
    outline: none;
    border-color: $secundario;
    color: $secundario;
    border-width: 3px;
    padding: 5px;
    transition: 1s;
}